[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
 
[packages]
langchain = ">=0.3.0,<0.4.0"
langchain-openai = ">=0.2.0,<0.3.0"
chromadb = "*"
python-dotenv = ">=1.0.1"
pydantic = ">=2.0.0,<3.0.0"
pyboxen = "*"

 
[dev-packages]
 
[requires]
python_version = "3.11"